<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{actor_seleccionado.apellido}}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">{{actor_seleccionado.nombre}}</h6>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Edad : {{actor_seleccionado.edad}} </li>
        <li class="list-group-item">Genero : {{actor_seleccionado.genero}} </li>
        <li class="list-group-item">Nacionalidad : {{actor_seleccionado.nacionalidad}} </li>
      </ul>
    </div>
  </div>