body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #222;
}

.producto-container {
    border: 2px solid #e1e1e1;
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
    display: none;
}

.cargando {
    background-color: #f4f4f4;
    color: #999;
    font-style: italic;
}

.error {
    background-color: #ffefef;
    color: #900;
}

.visible {
    display: block;
}
