<article>
    <h2>TV LR200 4K</h2>
    <ul>
        <li>Precio: $82700</li>
        <li>Marca: Sony</li>
        <li>Garantía: 12 meses</li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga perferendis expedita placeat ipsam labore eum ipsa porro, quia distinctio. Laboriosam sapiente corrupti earum voluptatem aperiam alias doloremque autem exercitationem, laudantium possimus quis fugit, fuga in repellat error optio provident rem aut assumenda dicta quos totam velit. Consequatur tempora veniam, velit magnam, voluptatem aliquam sequi qui quasi deleniti eligendi, doloribus fuga earum porro? Sequi aperiam sed numquam non ducimus quidem ipsa!</p>
    </ul>
</article>
