<h1>Contacto</h1>
<form action="consultar.html">

    <div>
        <label for="nombre:">Nombre:</label>
        <input id="nombre" name="nombre" type="text">
    </div>

    <div>
        <label for="email:">E-mail:</label>
        <input id="email" name="email" type="email">
    </div>

    <div>
        <label for="comentarios:">Comentarios:</label>
        <textarea id="comentarios" name="comentarios"></textarea>
    </div>

    <input type="submit" value="Enviar consulta">
    
</form>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae debitis officiis dolorem quasi ipsam laborum totam, vel enim nisi cum unde! Saepe, nisi quasi architecto nostrum voluptatibus rem nesciunt iste consequuntur reprehenderit reiciendis error natus et! Inventore rerum id recusandae vitae cupiditate accusamus eum porro fugit mollitia aliquam tempora, repudiandae praesentium accusantium aliquid dignissimos distinctio modi voluptatibus sed quam. Quam porro excepturi cupiditate ea doloribus natus rem ad amet in corporis rerum enim mollitia, magni cum ab eaque voluptas dolor odit sapiente similique. Distinctio aspernatur illum odio adipisci repellat repudiandae esse obcaecati! Tempore error excepturi molestiae quibusdam asperiores debitis aliquam.</p>
<p>Sed, dolorem magnam tenetur neque earum iste omnis, rem esse exercitationem odit, quidem expedita ex. Veniam repellendus cum voluptas eos atque earum, tempore, architecto quisquam quaerat numquam illo, labore dolorem repellat dolorum laudantium neque sint amet ad. Illum tempore quae, aliquid numquam quidem deserunt quisquam ipsam minus atque? Ipsam quaerat facilis quod laborum ex quia maxime obcaecati modi animi vitae, numquam incidunt aperiam, sunt veniam? Delectus, dolores earum perspiciatis quasi tenetur magni corrupti, eligendi architecto harum rerum sequi perferendis consequatur iste ipsa aliquid, labore nobis adipisci. Dignissimos tempora voluptatibus blanditiis, magni inventore maiores accusantium sit, ipsum laboriosam cumque praesentium qui?</p>
<p>Nam aperiam quas aspernatur blanditiis voluptates assumenda suscipit veniam consectetur nemo, similique soluta sequi optio minus deserunt accusantium. Neque asperiores at fuga culpa eos mollitia illo corrupti cumque sint? Iure consequatur placeat delectus sed corrupti quae repellat ducimus. Fugit dolorum itaque quia nam reprehenderit voluptate, possimus quam numquam perspiciatis temporibus quisquam optio eius eveniet natus modi et dolores accusantium nisi? Impedit distinctio dolorem numquam deserunt exercitationem, voluptas porro adipisci cumque quis odit cum ea ratione aspernatur voluptatem laboriosam dolore eaque enim? Blanditiis veritatis laborum, minus rerum quo quae tempora cum rem, saepe, dolore laudantium maxime! Ad illo maiores rerum obcaecati.</p>
<p>Earum adipisci rem facere aliquid voluptatibus ad aperiam, accusantium reprehenderit totam aspernatur nulla, assumenda ullam porro omnis eveniet illum iste. Ipsa esse voluptate autem commodi, quidem corrupti suscipit, aperiam ducimus ex totam explicabo odit in obcaecati, iusto ipsam. Animi fugiat qui voluptates? Quas non laborum iste necessitatibus. Cupiditate, fugit quasi, dolore nesciunt excepturi beatae fugiat maiores voluptatibus cumque sit vitae quos impedit, quis praesentium provident dolor accusamus optio error. Consectetur repudiandae ea accusantium exercitationem esse qui expedita rerum perferendis ad tenetur quibusdam, adipisci dignissimos facilis culpa? Perspiciatis minus quos cum natus aut provident, rerum voluptas laborum sint, nostrum incidunt ea?</p>